{% macro form(placeType) %}
  {{ form_row(placeType.icon) }}

  <div class="form-group row">
    <div class="col-sm-4 col-form-label">
      {{ form_label(placeType.name) }}
    </div>
    <div class="col-sm-8">
      {{ form_widget(placeType.name) }}
      {{ form_errors(placeType.name) }}
      {{ form_help(placeType.name) }}
    </div>
  </div>

  {% if placeType.shared is defined %}
    <div class="form-group row">
      <div class="col">
        {{ form_row(placeType.shared) }}
      </div>
    </div>
  {% endif %}

  {% if placeType.public is defined %}
    <div class="form-group row">
      <div class="col">
        {{ form_row(placeType.public, {label_attr: {class: 'checkbox-custom'}}) }}
      </div>
    </div>
  {% endif %}
{% endmacro %}