{% macro form(placeType) %}
  {% from "form/linky.html.twig" import form as linkyForm %}
  {% from "form/meteo_france.html.twig" import form as meteoFranceForm %}

  <h2><i class="fas fa-clipboard-check"></i> {{ 'Informations générales' | trans }}</h2>

  {{ form_row(placeType.icon) }}

  <div class="form-group row">
    <div class="col-sm-5 col-form-label">
      {{ form_label(placeType.name) }}
    </div>
    <div class="col-sm-7">
      {{ form_widget(placeType.name) }}
      {{ form_errors(placeType.name) }}
      {{ form_help(placeType.name) }}
    </div>
  </div>

  <div class="form-group row">
    <div class="col-9">
      {{ form_row(placeType.shared) }}
    </div>
    <div class="col-3">
      {{ form_widget(placeType.public, {label_attr: {class: 'checkbox-custom'} }) }}
      {{ form_errors(placeType.public) }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{ form_help(placeType.public, {label_attr: {class: 'checkbox-custom'} }) }}
    </div>
  </div>


  <hr>

  {{ linkyForm(placeType.electricity) }}

  <hr>

  {{ meteoFranceForm(placeType.meteo)}}

{% endmacro %}