<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} | Pilea</title>
    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('image/icon/favicon.png') }}" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" integrity="sha256-JDBcnYeV19J14isGd3EtnsCQK05d8PczJ5+fvEvBJvI=" crossorigin="anonymous" />
    <link rel="stylesheet" href={{ asset("css/style.css") }}></link>
</head>
<body>
    <nav class="navbar navbar navbar-expand-lg sticky-top navbar-expand" title="Pilea{{ ' : Analyser votre consommation d\'électricité' | trans }}" >
        <div class="navbar-brand">
            <img src="{{ asset('image/icon/logo.png') }}" alt='logo'>
            <span>Pilea</span>
        </div>
        {% block selection %}
        {% endblock %}
        <div class="ml-auto">
            <a class="navbar-item" title="{{ 'Configuration'| trans }}" href="{{ path('config') }}">
                 <img src="{{ asset('image/icon/config.png') }}" height=24 alt="*" >
            </a>
        </div>
    </nav>
    <nav class="nav" id="sidebar">
        <div class="nav flex-column">
            <a href="{{ path('homepage') }}" title="{{ 'Accueil' | trans }}" >
                <img src="{{ asset('image/icon/home.png') }}" alt="*" >
            </a>
            <a href="{{ path('general') }}" title="{{ 'Indicateurs généraux sur la consommation d\'électricité' | trans }}" >
                <img src="{{ asset('image/icon/general.png') }}" alt="*" >
            </a>
            <a href="{{ path('temperature') }}" title="{{ 'Analyse de la consommation d\'électricité via la tempéature extérieure' | trans }}" >
                <img src="{{ asset('image/icon/temperature.png') }}" alt="*" >
            </a>
            <a href="{{ path('meteo') }}" title="{{ 'Indicateurs généraux sur la météo' | trans }}" >
                <img src="{{ asset('image/icon/meteo.png') }}" alt="*" >
            </a>
        </div>
    </nav>
    <main class="container-fluid" id='body'>
        {% block body %}
        {% endblock %}
    </main>
    <script>
        var appRoute = "{{ path('homepage')|escape('js') }}";
    </script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"
        integrity="sha256-tW5LzEC7QjhG0CiAvxlseMTs2qJS7u3DRPauDjFJ3zo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fr.min.js"
        integrity="sha256-IRibTuqtDv2uUUN/0iTrhnrvvygNczxRRAbPgCbs+LE="
        crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    {% block javascripts %}
    {% endblock %}
</body>
</html>
