{% extends 'base.html.twig' %}

{% block title %}{{ 'Connectez-vous' | trans }}{% endblock %}

{% block selection %}{% endblock %}

{% block body %}

<div class="col">
    <div class="row justify-content-center align-items-center">
        <div class='card config-form col-lg-6 col-md-8'>
            <div class="card-body">
                <h1 class="h1">{{ 'Connectez-vous' | trans }}</h1>

                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="checkbox mb-3">{{ 'Vous êtes déjà connecté en tant que' | trans }} {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    {% endif %}

                    <div class="form-group row">
                        <label for="inputEmail" >{{ 'Email' | trans }}</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" >{{ 'Mot de passe' | trans }}</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    </div>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html
                    #}

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Rester connecté
                        </label>
                    </div>


                    <button class="btn btn-lg btn-primary" type="submit">
                        Connexion
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
