{% extends "pages/dashboard.html.twig" %}

{% block title %}{{ "Analyse générale" | trans }}{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row dash-gen-row-1">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ "Consommation sur la période" | trans }}</h2>
            <div class="row">
              <div class="col-1">
                <img alt="electicity" src="{{ asset('image/electricity.svg') }}" class="index-logo">
              </div>
              <div class="col-2">
                <div id="conso-total" class="dash-index-total"></div>
              </div>
                <div class="col-9 dash-gen-card-1">
                  <div id="conso-global-repartition" class="global-repartition"></div>
                  <div id="conso-global-repartition-legend" class="global-repartition-legend"></div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row dash-gen-row-2">
      <div class="col-9">
        <div class="card d">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h2 class="card-title">{{ "Evolution de la consommation sur la période" | trans }}</h2>
              </div>
              <div class="col ml-auto">
                {% include "misc/frequency.html.twig" %}
              </div>
            </div>
            <div id="conso-global-evolution"></div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ "Répartition sur la semaine" | trans }}</h2>
            <div id="conso-week-repartition"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block js %}
  <script src={{ asset("js/graph_lib.js") }}></script>
  <script src={{ asset("js/general.js") }}></script>
{% endblock %}
