{% extends "bases/dashboard.html.twig" %}

{% block title %}{{ "Analyse générale" | trans }}{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h2 class="card-title">{{ "Evolution de la consommation sur la période" | trans }}</h2>
              </div>
              <div class="col ml-auto">
                {% include "misc/frequency.html.twig" %}
              </div>
            </div>
            <hr>
                <div id="conso-global-evolution"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ "Consommation sur la période" | trans }}</h2>
            <hr>
            <div id="conso-global-repartition"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block js %}
  <script src={{ asset("js/graph_lib.js") }}></script>
  <script src={{ asset("js/general.js") }}></script>
{% endblock %}
