{% extends "pages/dashboard.html.twig" %}

{% block title %}{{ 'Accueil' | trans }}{% endblock %}

{% block selection %}{% endblock %}

{% block body %}

  {% import "dashboards/month_summary.html.twig" as month %}

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        {{ month.summary('0') }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{ month.summary('-1') }}
      </div>
    </div>

    <div class="row">
      <div class="col load-more">
        <button id="load-more" class="btn-secondary btn">
          <h3>{{ 'Afficher le mois précédent' | trans }}</h3>
        </button>
      </div>
    </div>

  </div>


{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block js %}
  <script src={{ asset("js/graph_lib.js") }}></script>
  <script src={{ asset("js/index.js") }}></script>
{% endblock %}
