{% extends "bases/dashboard.html.twig" %}

{% block title %}{{ 'Accueil' | trans }}{% endblock %}

{% block body %}

  {% import "dashboards/month_summary.html.twig" as month %}

  <div class="container-fluid">
    <div class="row">
      <div id="evolution" class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ "Mois en cours" | trans }}</h2>
            <hr>
            {{ month.summary('current') }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ "Mois précédent" | trans }}</h2>
            <hr>
            {{ month.summary('previous') }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block js %}
  <script src={{ asset("js/graph_lib.js") }}></script>
  <script src={{ asset("js/index.js") }}></script>
{% endblock %}
