{% macro summary(month) %}
<div class="card">
  <div class="card-body">
    <h2 id="title-{{ month }}" class="card-title">--</h2>
    <div class="row month-summary" data-month="{{ month }}" >
      <div class="col-md-6 vert-sep">
        <div class="row">
          <div class="col-md-2">
            <img alt="electicity" src="{{ asset('image/electricity.svg') }}" class="index-logo">
          </div>
          <div class="col-md-3">
            <div id="conso-total-{{ month }}" class="dash-index-total conso-total"></div>
          </div>
          <div class="col-md-4">
            <div id="conso-repartition-{{ month }}" class="conso-repartition"></div>
          </div>
          <div class="col-md-3">
            <div id="conso-repartition-legend-{{ month }}" class="conso-repartition-legend"></div>
            {#
            <ul class="dash-index-avg">
                <li> {{ 'Max : ' | trans }}<span id="conso-max-{{ month }}">--</span></li>
                <li> {{ 'Moy : ' | trans }}<span id="conso-avg-{{ month }}">--</span></li>
                <li> {{ 'Min : ' | trans }}<span id="conso-min-{{ month }}">--</span></li>
            </ul>
           #}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <img alt="temperature" src="{{ asset('image/temperature.svg') }}" class="index-logo"></div>
          <div class="col-md-3">
            <div id="dju-total-{{ month }}" class="dash-index-total dju-total"></div>
          </div>
          <div class="col-md-4">
            <div id="temp-repartition-{{ month }}" class="temp-repartition"></div>
          </div>
          <div class="col-md-3">
            <div id="temp-repartition-legend-{{ month }}" class="temp-repartition-legend"></div>
            {#
            <ul class="dash-index-avg">
                <li> {{ 'Max : ' | trans }}<span id="temp-max-{{ month }}">--</span></li>
                <li> {{ 'Moy : ' | trans }}<span id="temp-avg-{{ month }}">--</span></li>
                <li> {{ 'Min : ' | trans }}<span id="temp-min-{{ month }}">--</span></li>
            </ul>
            #}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endmacro %}
