{% from "form/place.html.twig" import form as placeForm %}
{% from "form/meteo_france.html.twig" import form as meteoForm %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'Ajouter une adresse' | trans }}{% endblock %}

{% block selection %}{% endblock %}

{% block body %}
<div class="container-fluid row justify-content-center align-items-center users">
  <div class='card config-form col-xl-6 col-lg-8 col-md-12'>
    <div class="card-body">
      {{ form_start(form) }}
      {{ form_errors(form) }}

      <h2><i class="fas fa-info-circle"></i> {{ 'Informations générales' | trans }}</h2>
      {{ placeForm(form.place) }}
      <hr>

      <h2><i class="fas fa-cube"></i> {{ 'Compteur Linky' | trans }}</h2>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <p>{{ aeneria_feed_get_address(linky) ?: ('Inconnu' | trans) }}</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <a href="{{ path('config.place.enedis_consent', {id: place.id}) }}" class="btn btn-sm btn-outline-secondary">{{ 'Changer de compteur' | trans }}</a>
          <p><small>{{ '(via mon espace Enedis)' | trans }}</small></p>
        </div>
      </div>
      <hr>

      <h2><i class="fas fa-cloud-sun"></i> {{ 'Station météo de référence' | trans}}</h2>
      {{ meteoForm(form.meteo) }}

      {{ form_row(form.cancel) }}
      {{ form_row(form.save) }}

      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}