{% extends "dashboards/dashboard.html.twig" %}

{% block title %}{{ 'Analyse DJU vs consommation' | trans }}{% endblock %}

{% block body %}
  <div id="comparaison_tab" class="container-fluid comparaison">
    {# Form #}
    <div class="row">
      <div class="col-12">
        <div class="card selection-form">
          <div class="card-body">
            <div class="row ">
              <div class="col col-period col-period-1">
                <span class="start-input" aria-hidden="true" style="font-size: 1.2em; color: white">𐫴</span>
                <div class="input-daterange">
                    <input type="text" class="form-control mr-sm-2 datepicker aeneria-start-date" name="start-date"><span class="fas fa-caret-right aeneria-inter-date" aria-hidden="true" style="font-size: 1.2em; color: black"></span><input type="text" class="form-control mr-sm-2 datepicker aeneria-end-date"  name="end-date">
                </div>
                <span class="btn btn-primary aeneria-select-date aeneria-refresh"></span>
              </div>

              <div class="col col-period col-period-2">
                <span class="start-input" aria-hidden="true" style="font-size: 1.2em; color: white">𐫵</span>
                <div class="input-daterange">
                    <input type="text" class="form-control mr-sm-2 datepicker aeneria-start-date" name="start-date"><span class="fas fa-caret-right aeneria-inter-date" aria-hidden="true" style="font-size: 1.2em; color: black"></span><input type="text" class="form-control mr-sm-2 datepicker aeneria-end-date"  name="end-date">
                </div>
                <span class="btn btn-primary aeneria-select-date aeneria-refresh"></span>
              </div>

              <div class="col">
                <div class="aeneria-select-period-compare">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="period-date">
                    <span class="fas fa-calendar-alt" aria-hidden="true"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#" data="last-week">{{ 'Les derniers 30 jours et la même période l\'année dernière'|trans }}</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" data="last-3-months">{{ 'Les 3 derniers mois et la même période l\'année dernière'|trans }}</a>
                      <a class="dropdown-item" href="#" data="last-6-months">{{ 'Les 6 derniers mois et la même période l\'année dernière'|trans }}</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" data="current-year">{{ 'Cette année et l\'année dernière'|trans }}</a>
                  </div>
                </div>
                <div class="aeneria-select-period-compare">
                  <button type="button" class="btn btn-primary" id="refresh-select-period">
                    >
                  </button>
                </div>
              </div>

              <div class="col">
                {{ 'Energie VS' | trans }}
                <div class="btn-group aeneria-select-meteo">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="frequency">Précipitation</button>
                  <div class="dropdown-menu dropdown-menu-left">
                    <a class="dropdown-item" href="#" data="dju" unit="DJU">{{ 'DJU'|trans }}</a>
                    <a class="dropdown-item" href="#" data="nebulosity" unit="%">{{ 'Nebulosité'|trans }}</a>
                    <a class="dropdown-item" href="#" data="rain" unit="mm">{{ 'Précipitations'|trans }}</a>
                    <a class="dropdown-item" href="#" data="humidity" unit="%">{{ 'Humidité'|trans }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {# <div class="row">

      <div class="col-md-4 col-lg-3">
        <div class="card selection">
          <div class="card-body">
            <h2 class="card-title">{{ 'Energie VS' | trans }}
              <div class="btn-group aeneria-select-meteo">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="frequency">Précipitation</button>
                <div class="dropdown-menu dropdown-menu-left">
                  <a class="dropdown-item" href="#" data="dju" unit="DJU">{{ 'DJU'|trans }}</a>
                  <a class="dropdown-item" href="#" data="nebulosity" unit="%">{{ 'Nebulosité'|trans }}</a>
                  <a class="dropdown-item" href="#" data="rain" unit="mm">{{ 'Précipitations'|trans }}</a>
                  <a class="dropdown-item" href="#" data="humidity" unit="%">{{ 'Humidité'|trans }}</a>
                </div>
              </div>
            </h2>
          </div>
        </div>
        <div class="card evolution">
          <div class="card-body">
            <h2 class="card-title">{{ 'Analyse temporelle' | trans }}</h2>
            {{ aeneria_help_graph('graphique-papillon')|raw }}
            <div class="content">
              <div id="conso-vs-dju"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-lg-9">

        <div class="card distribution">
          <div class="card-body">
            <h2 class="card-title">{{ "Analyse croisée" | trans }}</h2>
            {{ aeneria_help_graph('graphique-d-analyse-croisee')|raw }}
            <div id="conso-x-dju"></div>
          </div>
        </div>

      </div>
    </div> #}
  </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block js %}
{% endblock %}
