{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block selection %}
  <div class="mx-auto">
    {% include "misc/selection.html.twig" %}
  </div>
{% endblock %}

{% block body %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
  <script>
  var MONTHS_NAME = [
    '{{ 'Janvier' | trans }}',
    '{{ 'Février' | trans }}',
    '{{ 'Mars' | trans }}',
    '{{ 'Avril' | trans }}',
    '{{ 'Mai' | trans }}',
    '{{ 'Juin' | trans }}',
    '{{ 'Juillet' | trans }}',
    '{{ 'Aout' | trans }}',
    '{{ 'Septembre' | trans }}',
    '{{ 'Octobre' | trans }}',
    '{{ 'Novembre' | trans }}',
    '{{ 'Décembre' | trans }}',
    ];
  </script>
  {% block js %}
  {% endblock %}
{% endblock %}
