{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block selection %}
<form class="form-inline selection-form">
  <div class="row align-items-center justify-content-space-around">
    {% if places|length > 1 %}
    <div class="col col-place">
      {% include "selection/place.html.twig" %}
    </div>
    {% endif %}
    <div class="col col-period">
      {% include "selection/period.html.twig" %}
    </div>
    <div class="col col-frequency">
      {% include "selection/frequency.html.twig" %}
    </div>
  </div>
  </form>
{% endblock %}

{% block body %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
  <script>
  var MONTHS_NAME = [
    '{{ 'Janvier' | trans }}',
    '{{ 'Février' | trans }}',
    '{{ 'Mars' | trans }}',
    '{{ 'Avril' | trans }}',
    '{{ 'Mai' | trans }}',
    '{{ 'Juin' | trans }}',
    '{{ 'Juillet' | trans }}',
    '{{ 'Aout' | trans }}',
    '{{ 'Septembre' | trans }}',
    '{{ 'Octobre' | trans }}',
    '{{ 'Novembre' | trans }}',
    '{{ 'Décembre' | trans }}',
    ];
  </script>
  {% block js %}
  {% endblock %}
{% endblock %}
