{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block selection %}
<form class="form-inline selection-form">
  <div class="d-flex flex-wrap justify-content-center justify-content-xl-start">
    {% if places|length > 1 %}
      {% include "selection/place.html.twig" %}
    {% endif %}
    {% include "selection/period.html.twig" %}
    {% include "selection/frequency.html.twig" %}
  </div>
  </form>
{% endblock %}

{% block body %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
  <script>
  var MONTHS_NAME = [
    '{{ 'Janvier' | trans }}',
    '{{ 'Février' | trans }}',
    '{{ 'Mars' | trans }}',
    '{{ 'Avril' | trans }}',
    '{{ 'Mai' | trans }}',
    '{{ 'Juin' | trans }}',
    '{{ 'Juillet' | trans }}',
    '{{ 'Aout' | trans }}',
    '{{ 'Septembre' | trans }}',
    '{{ 'Octobre' | trans }}',
    '{{ 'Novembre' | trans }}',
    '{{ 'Décembre' | trans }}',
    ];
  </script>
  {% block js %}
  {% endblock %}
{% endblock %}
