{% extends "dashboards/dashboard.html.twig" %}

{% block title %}{{ "Analyse de la consommation d'électricité" | trans }}{% endblock %}

{% block body %}

  <div id="electricity_tab" class="container-fluid">
    <div class="row">
      {# Colonne répartition sur la période #}
      <div class="col-md-4 col-lg-3 gen-first-col">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ 'Électricité' | trans }}</h2>
            {{ aeneria_help_graph('carte-de-chaleur-jours-semaines')|raw }}
            <div class="content">
              <div class="row index-top">
                <div class="col-4 col-sm-4">
                  <img alt="electicity" src="{{ asset('image/electricity.svg') }}" class="index-logo">
                </div>
                <div class="col-8 col-sm-8">
                  <p>
                    <b><span id="conso-total" class="dash-index"></span> {{ ' kWh' | trans }}</b>
                    </br>
                    {{ 'consommés sur la période' | trans }}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div id="conso-global-repartition" class="col-6"></div>
                </div>
                <div class="col-6">
                  <div id="conso-global-repartition-legend" class="col-6"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {# Colonne répartitoin semaine & évolution #}
      <div class="col-md-8 col-lg-9">
        <div class="row gen-first-line">
          <div class="col-sm-12 col-xl-7">
            <div class="card week-repartition">
              <div class="card-body">
                <h2 class="card-title">{{ "En moyenne sur la semaine" | trans }}</h2>
                {{ aeneria_help_graph('carte-de-chaleur-jours-heures')|raw }}
                <div id="conso-week-repartition"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xl-5">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">{{ "Répartition sur la semaine" | trans }}</h2>
                {{ aeneria_help_graph('graphique-de-repartition')|raw }}
                <div id="conso-week-frequency"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="card gen-second-line">
          <div class="card-body">
            <h2 class="card-title">{{ "Evolution de la consommation" | trans }}</h2>
            {{ aeneria_help_graph('graphique-d-evolution-temporelle')|raw }}
            <div id="conso-global-evolution"></div>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block js %}
{% endblock %}
