{% extends "dashboards/dashboard.html.twig" %}

{% block title %}{{ 'Analyse de la météo' | trans }}{% endblock %}

{% block body %}
  <div id="meteo_tab" class="container-fluid">
    <div class="row repartition">
      <div id="temperature" class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ 'Température' | trans }}</h2>
            <div class="content">
              <div class="meteo-top">
                <img alt="temperature" src="{{ asset('image/temperature.svg') }}" class="meteo-logo">
                <p>
                  <b><span id="dju" class="dash-index">--</span> {{ ' DJU' | trans }}</b>
                  <br>
                  {{ '(degrés jour unifié)' | trans }}
                </p>
              </div>
              <div class="meteo-card-1">
                {{ aeneria_help_graph('carte-de-chaleur-jours-semaines')|raw }}
                <div id="temp-repartition" class="global-repartition"></div>
                <div id="temp-repartition-legend" class="global-repartition-legend"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="nebulosity" class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ 'Nébulosité' | trans }}</h2>
            <div class="content">
              <div class="meteo-top">
                <img alt="cloud" src="{{ asset('image/cloud.svg') }}" class="meteo-logo">
                <p>
                  <b>
                    <span id="neb-day" class="dash-index">--</span>/<span class="nb-day">--</span>
                    <br>
                    {{ ' jours' | trans }}
                    </b>
                  <br>
                  {{ 'sans nuages' | trans }}
                </p>
              </div>
              <div class="meteo-card-1">
                {{ aeneria_help_graph('carte-de-chaleur-jours-semaines')|raw }}
                <div id="neb-repartition" class="global-repartition"></div>
                <div id="neb-repartition-legend" class="global-repartition-legend"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="rain" class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ 'Précipitations' | trans }}</h2>
            <div class="content">
              <div class="meteo-top">
                <img alt="rain" src="{{ asset('image/rain.svg') }}" class="meteo-logo">
                <p>
                  <b>
                    <span id="rain-day" class="dash-index">--</span>/<span class="nb-day">--</span>
                    <br>
                    {{ ' jours' | trans }}
                  </b>
                  <br>
                  {{ 'sans pluie' | trans }}
                </p>
              </div>
              <div class="meteo-card-1">
                {{ aeneria_help_graph('carte-de-chaleur-jours-semaines')|raw }}
                <div id="rain-repartition" class="global-repartition"></div>
                <div id="rain-repartition-legend" class="global-repartition-legend"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="humidity" class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ 'Humidité' | trans }}</h2>
            <div class="content">
              <div class="meteo-top">
                <img alt="humidity" src="{{ asset('image/humidity.svg') }}" class="meteo-logo">
                <p>
                  <b>
                    <span id="humidity-day" class="dash-index">--</span>/<span class="nb-day">--</span>
                    <br>
                    {{ ' jours' | trans }}
                  </b>
                  <br>
                  {{ 'à moins de 70%' | trans }}
                </p>
              </div>
              <div class="content meteo-card-1">
                {{ aeneria_help_graph('carte-de-chaleur-jours-semaines')|raw }}
                <div id="humidity-repartition" class="global-repartition"></div>
                <div id="humidity-repartition-legend" class="global-repartition-legend"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {# Evolution graph #}
    <div class="row evolution">
      <div class="col-lg-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ 'Evolution des DJU' | trans }}</h2>
            {{ aeneria_help_graph('graphique-d-evolution-temporelle')|raw }}
            <div class="content">
              <div id="temperature-evolution" class="global-evolution"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ 'Evolution de la nebulosité' | trans }}</h2>
            {{ aeneria_help_graph('graphique-d-evolution-temporelle')|raw }}
            <div class="content">
              <div id="nebulosity-evolution" class="global-evolution"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ 'Evolution des précipitations' | trans }}</h2>
            {{ aeneria_help_graph('graphique-d-evolution-temporelle')|raw }}
            <div class="content">
              <div id="rain-evolution" class="global-evolution"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ 'Evolution de l\'humidité' | trans }}</h2>
            {{ aeneria_help_graph('graphique-d-evolution-temporelle')|raw }}
            <div class="content">
              <div id="humidity-evolution" class="global-evolution"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block js %}
{% endblock %}
