<nav class="navbar navbar-expand-lg sticky-top navbar-expand" >
    <div class="mr-auto"></div>
    <div class="navbar-brand" title="æneria :{{ ' Analyser votre consommation d\'électricité' | trans }}">
        <img src="{{ asset('image/icon/aeneria.svg') }}" alt='logo' class="logo">
        <span>æneria</span>
    </div>

    <div class="ml-auto">
        <a class="navbar-item" title="{{ 'Aide' | trans }}" target="_blank" href="{{ aeneria_documentation() }}">
                <img src="{{ asset('image/icon/about.png') }}" height=20 alt="{{ 'Aide' | trans }}" >
        </a>
    </div>
</nav>