<nav class="navbar navbar-expand-lg sticky-top navbar-expand desktop" >
    <div class="navbar-brand" title="æneria :{{ 'Analyser votre consommation d\'électricité' | trans }}">
        <img src="{{ asset('image/aeneria.svg') }}" alt='logo' class="logo">
        <span>æneria</span>
    </div>
    <div class="ml-auto">
        {{ selection | raw }}
    </div>
    <div class="ml-auto">
        <a class="navbar-item" title="{{ 'Configuration' | trans }}" href="{{ path('config') }}" >
                <img src="{{ asset('image/config.png') }}" height=25 alt="{{ 'Configuration' | trans }}" >
        </a>
        <a class="navbar-item" title="{{ 'Aide' | trans }}" target="_blank" href="{{ aeneria_documentation('utilisateur.html') }}">
                <img src="{{ asset('image/about.png') }}" height=25 alt="{{ 'Aide' | trans }}" >
        </a>
        <a class="navbar-item" title="{{ 'Déconnexion' | trans }}" href="{{ path('security.logout') }}">
                <img src="{{ asset('image/shutdown.png') }}" height=25 alt="{{ 'Déconnexion' | trans }}" >
        </a>
    </div>
</nav>
<nav class="nav sidebar desktop">
    <div class="nav flex-column">
        {% set active = app.request.attributes.get('_route') == 'dashboard.home' %}
        <a href="{{ path('dashboard.home') }}" title="{{ 'Accueil' | trans }}" data-toggle="tooltip" data-placement="left" class="{{ active ? 'active' : ''}}">
            <img src="{{ asset('image/home-' ~ (active ? 'w' : 'g') ~ '.png') }}" alt="{{ 'Accueil' | trans }}">
        </a>
        {% set active = app.request.attributes.get('_route') == 'dashboard.electricity' %}
        <a href="{{ path('dashboard.electricity') }}" title="{{ 'Consommation d\'électricité' | trans }}" data-toggle="tooltip" data-placement="left" class="{{ active ? 'active' : ''}}">
            <img src="{{ asset('image/electricity-' ~ (active ? 'w' : 'g') ~ '.png') }}" alt="{{ 'Consommation d\'électricité' | trans }}" >
        </a>
        {% set active = app.request.attributes.get('_route') == 'dashboard.meteo' %}
        <a href="{{ path('dashboard.meteo') }}" title="{{ 'Analyse de la météo' | trans }}" data-toggle="tooltip" data-placement="left" class="{{ active ? 'active' : ''}}">
            <img src="{{ asset('image/meteo-' ~ (active ? 'w' : 'g') ~ '.png') }}" alt="{{ 'Analyse de la météo' | trans }}" >
        </a>
        {% set active = app.request.attributes.get('_route') == 'dashboard.energy_x_meteo' %}
        <a href="{{ path('dashboard.energy_x_meteo') }}" title="{{ 'Analyse croisée Energie/Météo' | trans }}" data-toggle="tooltip" data-placement="left" class="{{ active ? 'active' : ''}}">
            <img src="{{ asset('image/analyze-' ~ (active ? 'w' : 'g') ~ '.png') }}" alt="{{ 'Analyse croisée Energie/Météo' | trans }}" >
        </a>
    </div>
</nav>