<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} | æneria</title>

    {% block stylesheets %} {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('image/favicon.png') }}" />
    <link rel="stylesheet" href="{{path('dashboard.home')}}build/app.css">
  </head>
  <body>
    {% if (app.user) %}
      {% include "misc/navigation.html.twig" with {selection: block('selection')} %}
    {% else %}
      {% include "misc/navigation-light.html.twig" %}
    {% endif %}

    <main class="container-fluid" id='body'>
      {% block flash_messages %}
      <div class="container-fluid row">
        <div class="col-12">
          {% for label, messages in app.flashes %}
            {% if label == 'error' %}{% set label = 'danger' %}{% endif %}
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                <p class="mb-0">{{ message }}</p>
                {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
      {% endblock %}

      {% block body %}

      {# BODY #}

      {% endblock %}
    </main>

    <script>
      var appRoute = "{{ path('dashboard.home')|escape('js') }}";
      {% if places is defined %}
        var places = {{ places|json_encode|raw }};
      {% endif %}
      {% if app.user %}
        var user = {{ app.user.id }};
      {% endif %}
    </script>

    <script src="{{path('dashboard.home')}}build/runtime.js"></script>
    <script src="{{path('dashboard.home')}}build/app.js"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
