{% extends 'base.html.twig' %}

{% block title %}{{ 'Bienvenue' | trans }}{% endblock %}

{% block selection %}{% endblock %}

{% block body %}
  <div class="container-fluid">

    <div class="row justify-content-center align-items-center">
      <div class='card welcome col-xl-6 col-lg-8 col-md-12'>
        <div class="card-body text-center">
          <span class='logo'><img src="{{ asset('image/aeneria.svg') }}" alt="*"></span>
          <h1 class="card-title">{{ 'Bienvenue sur' | trans }} æneria</h1>
          <hr>
          <br>
          <i class="fas fa-sad-tear"></i>
          <p> {{ 'Il n\'y a pas encore de données disponibles !' | trans}}</p>
          <br>
          <div class="starting">
            <h2>{{ 'Pour commencer à en acquérir' | trans }}</h2>
            <ul class="text-left">
              <li>{{ 'Allez créer une nouvelle adresse via' | trans }} <a href="{{ path('config') }}">{{ 'la page de configuration' | trans }}</a>.</li>
              <li>{{ 'Les premières données devraient apparaître d\'ici une dizaine de minutes !' | trans}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
