{% extends 'base.html.twig' %}

{% block title %}{{ 'Gestion des utilisateurs' | trans }}{% endblock %}

{% block selection %}{% endblock %}

{% block body %}
  <div class="container-fluid users">
    <div class='card'>
      <div class="card-body">
        <h1>{{ 'Liste des utilisateurs' | trans }}</h1>
        <a href="{{ path('admin.user.add') }}" class="btn btn-sm btn-success add-user">
          <i class="fas fa-user-plus"></i>{{ 'Ajouter un utilisateur' | trans }}
        </a>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Email</th>
              <th scope="col">Adresses</th>
              <th scope="col">Administrateur</th>
              <th scope="col">Actif</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr scope="row">
                <td>{{ user.id}}</td>
                <td>{{ user.username}}</td>
                <td>{{ user.places|length }}</td>
                <td><i class="fas fa-{{ 'ROLE_ADMIN' in user.roles ? 'check-circle text-success' : 'times-circle text-danger'}}"></i></td>
                <td><i class="fas fa-{{ user.active ? 'check-circle text-success' : 'times-circle text-danger'}}"></i></td>
                <td>
                  <a href="{{ path('admin.user.update',{id: user.id}) }}" class="btn btn-sm btn-primary" title="{{ 'Mettre à jour' | trans }}">
                    <i class="fas fa-user-edit"></i>
                  </a>
                  <a href="{{ path('admin.user.disable',{id: user.id}) }}" class="btn btn-sm btn-warning" title="{{ 'Activer/Désactiver' | trans }}">
                    <i class="fas fa-user-slash"></i>
                  </a>
                  <a href="{{ path('admin.user.delete',{id: user.id}) }}" class="btn btn-sm btn-danger" title="{{ 'Supprimer' | trans }}">
                    <i class="fas fa-user-times"></i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a class="btn btn-primary" href="{{path('config')}}">{{ 'Retour' | trans }}</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
