<div class='card about'>
  <div class="card-body">
    <h1 class="card-title">{{ 'À propos' | trans }}</h1>
    <div class="content">

      <ul class="about-list row ">
        <li class="col-lg-6 col-md-12 col-sm-6 col-12">
          <a target="_blank" href="https://aeneria.com" class="btn btn-primary ml-1">
            <i class="fa fa-globe-europe"></i> {{ 'Site web' | trans }}
          </a>
        </li>
        <li class="col-lg-6 col-md-12 col-sm-6 col-12">
          <a target="_blank" href="{{ aeneria_documentation() }}" class="btn btn-primary ml-1">
            <i class="fa fa-book"></i> {{ 'Documentation' | trans }}
          </a>
        </li>
        <li class="col-lg-6 col-md-12 col-sm-6 col-12">
          <a target="_blank" href="{{ aeneria_repo_git() }}/-/tags/{{ aeneria_version() }}" class="btn btn-primary ml-1">
            <i class="fa fa-code-branch"></i> {{ 'Version' | trans }} {{ aeneria_version() }}
          </a>
        </li>
        <li class="col-lg-6 col-md-12 col-sm-6 col-12">
          <a target="_blank" href="http://www.gnu.org/licenses/agpl-3.0.en.html" class="btn btn-primary ml-1">
            <i class="fa fa-balance-scale"></i> {{ 'License AGPLv3' | trans }}
          </a>
        </li>
        <li class="col-lg-6 col-md-12 col-sm-6 col-12">
          <a target="_blank" href="https://gitlab.com/aeneria/aeneria-app" class="btn btn-primary ml-1">
            <i class="fab fa-gitlab"></i> {{ 'Dépôt Gitlab' | trans }}
          </a>
        </li>
        <li class="col-lg-6 col-md-12 col-sm-6 col-12">
          <a target="_blank" href="https://twitter.com/aeneria_app" class="btn btn-primary ml-1">
            <i class="fab fa-twitter"></i> @aeneria-app
          </a>
        </li>
      </ul>
      <hr>
      <h2><i class="fas fa-bullhorn"></i> - {{ 'Envie de remercier le développeur d\'æneria ?' | trans }}</h2>
      <div class="row justify-content-center">
        <div class="col">
            <p>
              {{ 'Faites un don :' | trans }}
              <a class="btn btn-info ml-1" href="https://paypal.me/aeneria" title="{{ 'Via le site de PayPal' | trans }}">
                {{ 'via PayPal' | trans }} <i class="fab fa-paypal"></i>
              </a>
              <a class="btn btn-warning ml-1" href="https://www.buymeacoffee.com/aeneria" title="{{ 'Via le site de PayPal' | trans }}">
                {{ 'via BuyMeACoffee' | trans }} <i class="fas fa-coffee"></i>
              </a>
            </p>
        </div>
      </div>
      <hr>
      <h2><i class="fas fa-bug"></i> - {{ 'Un bug ou une proposition d\'amélioration ?' | trans }}</h2>
      <p>{{ 'Faites-le savoir :' | trans }}</p>
      <ul class="about-list row ">
        <li class="col-lg-6 col-md-12 col-sm-6 col-12">
          <a target="_blank" href="{{ aeneria_repo_git() }}/-/issues" class="btn btn-primary ml-1">
            <i class="fab fa-gitlab"></i> {{ 'Ouvrez une issue sur Gitlab' | trans }}
          </a>
        </li>
        <li class="col-lg-6 col-md-12 col-sm-6 col-12">
          <a target="_blank" href="https://twitter.com/aeneria_app" class="btn btn-primary ml-1">
            <i class="fab fa-twitter"></i> {{ 'Contactez-nous via Twitter' | trans }}
          </a>
        </li>
      </ul>
      <hr>
      <p>{{ 'Développé avec <i class="fas fa-heart"></i> par Simon Mellerin, avec l\'aide de&nbsp;:' | trans | raw }}</p>
      <ul class="about-list">
          <li><i class="fas fa-server"></i> {{ 'Côté back : PHP, MySQL, Symfony et son outillage' | trans }}</li>
          <li><i class="fas fa-desktop"></i> {{ 'Côté front : Webpack, Bootstrap, jQuery, D3.js, Popper.js, Fontawesome' | trans }}</li>
          <li><i class="fas fa-image"></i> {{ 'Icones issues de' | trans }} <a target="_blank" href="https://thenounproject.com/" >the Noun Project</a> :
            <a target="_blank" href="https://thenounproject.com/iconisland/">Icon Island</a>, <a target="_blank" href="https://thenounproject.com/coquet_adrien">Adrien Coquet</a>,
            <a target="_blank" href="https://thenounproject.com/grega.cresnar">Gregor Cresnar</a>, <a target="_blank" href="https://thenounproject.com/creativestall/"> Creative Stall</a>
          </li>
      </ul>
    </div>
  </div>
</div>
