<div class='card about'>
  <div class="card-body">
    <h1 class="card-title">{{ 'À propos' | trans }}</h1>
    <div class="content">

      <p><b>Pilea</b> - {{ 'Un petit tableau de bord pour analyser sa consommation d\'énergie&nbsp;:' | trans | raw }}</p>
      <ul class="about-list">
        <li><i class="fas fa-book"></i> Documentation :
          <a target="_blank" href="{{ pilea_documentation('utilisateur.html') }}">Utilisateur</a>
          /
          <a target="_blank" href="{{ pilea_documentation('administrateur.html') }}">Administrateur</a>
          /
          <a target="_blank" href="{{ pilea_documentation('developpeur.html') }}">Développeur</a>
        </li>
        <li><i class="fas fa-code-branch"></i> Version : <a target="_blank" href="{{ pilea_repo_git() }}/-/tags/{{ pilea_version() }}">{{ pilea_version() }}</a>
        </li>
        <li><i class="fas fa-clipboard"></i> License : <a target="_blank" href="https://en.wikipedia.org/wiki/MIT_License">MIT</a></li>
      </ul>
      <hr>
      <h2><i class="fas fa-bug"></i> {{ 'Un bug ou une proposition d\'amélioration ?' | trans }}</h2>
      <p>{{ 'Faites-le savoir un ouvrant une issue sur' | trans }} <a target="_blank" href="{{ pilea_repo_git() }}/issues">{{ 'le dépôt <i class="fab fa-gitlab"></i> de Pilea ' | trans | raw }}</a>!</p>
      <hr>
      <p>{{ 'Développé avec <i class="fas fa-heart"></i> par Simon Mellerin, avec l\'aide de&nbsp;:' | trans | raw }}</p>
      <ul class="about-list">
          <li><i class="fas fa-server"></i> {{ 'Côté back : PHP, MySQL, Symfony et son outillage' | trans }}</li>
          <li><i class="fas fa-desktop"></i> {{ 'Côté front : Webpack, Bootstrap, jQuery, D3.js, Popper.js, Fontawesome' | trans }}</li>
          <li><i class="fas fa-image"></i> {{ 'Icones issues de' | trans }} <a target="_blank" href="https://thenounproject.com/" >the Noun Project</a> :
            <a target="_blank" href="https://thenounproject.com/iconisland/">Icon Island</a>, <a target="_blank" href="https://thenounproject.com/coquet_adrien">Adrien Coquet</a>,
            <a target="_blank" href="https://thenounproject.com/grega.cresnar">Gregor Cresnar</a>, <a target="_blank" href="https://thenounproject.com/creativestall/"> Creative Stall</a>
          </li>
      </ul>
    </div>
  </div>
</div>
