<div class='card about'>
  <div class="card-body">
    <h1 class="card-title">{{ 'Mon compte'|trans }}</h1>
    <div class="content">
      <ul class="about-list">
        <li><i class="fas fa-user-alt"></i> <strong>Login :</strong> {{ user.username }}</li>
        {% if user.places|length > 1 %}
          <li><i class="fas fa-home"></i> <strong>Mes adresses :</strong> {{ user.places|map(p => p.name)|join(', ') }}</li>
        {% endif %}
        {% if pilea_user_can_share_place() %}
          <li><i class="fas fa-user-friends"></i> <strong>Adresses partagées avec moi :</strong> {{ user.sharedPlaces|length > 0 ? user.sharedPlaces|map(p => p.name)|join(', ') : ('Aucune'|trans) }}</li>
        {% endif %}
      </ul>
      <hr>
      <div class="container-fluid">
        <a class="btn btn-primary" href="{{ path('config.user.update') }}">
          <i class="fas fa-pen"></i> {{ 'Modifier mes informations' | trans }}
        </a>
        <a class="btn btn-danger" href="{{ path('config.place.delete', {id: 12}) }}">
          <i class="fas fa-trash"></i> {{ 'Supprimer mon compte' | trans }}
        </a>
      </div>
  </div>
</div>
</div>
