<div class='card about'>
  <div class="card-body">
    <h1 class="card-title">{{ 'Administration' | trans }}</h1>
    <div class="content">
      <div class="row justify-content-around">
        <div class="col-auto">
          <a class="btn btn-primary" href="{{ path('admin.user.list') }}">
            <i class="fas fa-users"></i> {{ 'Gérer les utilisateurs' | trans }}
          </a>
        </div>
        <div class="col-auto">
        <a class="btn btn-primary" href="{{path('admin.log')}}">
          <i class="fas fa-bug"></i> {{ 'Voir les derniers logs' | trans }}
        </a>
        </div>
      </div>
      <hr>
      <h4>{{ 'Configurations courantes' | trans }}</h4>
      <table class="table table-striped table-hover table-bordered">
          <tbody>
            <tr scope="row">
              <td>{{ 'Nombre d\'adresses max par utilisateur' | trans }}</td>
              <td>{{ aeneria_user_max_places() ?: ('Illimité' | trans) }}</td>
            </tr>
            <tr scope="row">
              <td>{{ 'Partage d\'adresses entre utilisateurs' | trans}}</td>
              <td>{{ aeneria_user_can_share_place() ? ('Oui' | trans ) : ('Non' | trans ) }}</td>
            </tr>
            <tr scope="row">
              <td>{{ 'Les adresses peuvent être publiques'| trans}}</td>
              <td>{{ aeneria_place_can_be_public() ? ('Oui' | trans ) : ('Non' | trans ) }}</td>
            </tr>
            <tr scope="row">
              <td>{{ 'Les utilisateurs peuvent recharger leur données via l\'UI' | trans }}</td>
              <td>{{ aeneria_user_can_fetch() ? ('Oui' | trans ) : ('Non' | trans ) }}</td>
            </tr>
            <tr scope="row">
              <td>{{ 'Les utilisateurs peuvent exporter leur données via l\'UI' | trans }}</td>
              <td>{{ aeneria_user_can_export() ? ('Oui' | trans ) : ('Non' | trans ) }}</td>
            </tr>
            <tr scope="row">
              <td>{{ 'Les utilisateurs peuvent importer leur données via l\'UI' | trans }}</td>
              <td>{{ aeneria_user_can_import() ? ('Oui' | trans ) : ('Non' | trans ) }}</td>
            </tr>
            <tr scope="row">
              <td>{{ 'Démo mode activé' | trans }}</td>
              <td>{{ aeneria_demo_mode() ? ('Oui' | trans ) : ('Non' | trans ) }}</td>
            </tr>
            <tr scope="row">
              <td>{{ 'Message d\'accueil' | trans }}</td>
              <td>{{ aeneria_welcome_message() }}</td>
            </tr>
          </tbody>
      </table>
      <p>{{ 'Ces paramètres peuvent être changés en surchargeant le fichier' | trans }} <i>.env</i> {{ aeneria_help_icon_link('administrateur/admin.html', 'Voir la documentation')|raw }}</p>
    </div>
  </div>
</div>
