{% macro form(linkyType) %}
  <h2><i class="fas fa-tachometer-alt"></i> {{ 'Compte Enedis' | trans }}</h2>
  <div class="form-group row">
    <div class="col-sm-5 col-form-label">
      {{ form_label(linkyType.login) }}
    </div>
    <div class="col-sm-7">
      {{ form_widget(linkyType.login) }}
      {{ form_errors(linkyType.login) }}
      {{ form_help(linkyType.login) }}
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-5 col-form-label">
      {{ form_label(linkyType.password) }}
    </div>
    <div class="col-sm-7">
      {{ form_widget(linkyType.password) }}
      {{ form_help(linkyType.password) }}
    </div>
  </div>
{% endmacro %}


