{% macro form(meteoFranceType) %}
  <h2><i class="fas fa-cloud-sun"></i> {{ 'Météo' | trans}}</h2>
  <div class="form-group row">
    <div class="col-sm-5 col-form-label">
      {{ form_label(meteoFranceType.station) }}
    </div>
    <div class="col-sm-7">
      {{ form_widget(meteoFranceType.station) }}
      {{ form_help(meteoFranceType.station) }}
      {{ form_errors(meteoFranceType.station) }}
    </div>
  </div>
{% endmacro %}

