{% extends 'base.html.twig' %}

{% block title %}{{ 'Rafraîchir les données de' | trans }} {{ place.name }}{% endblock %}

{% block selection %}{% endblock %}

{% block body %}
<div class="container-fluid row justify-content-center align-items-center users">
  <div class='card config-form col-xl-6 col-lg-8 col-md-12'>
    <div class="card-body">
      <h1>{{ 'Rafraîchir des données' | trans }}</h1>
      <p>{{ 'Pour l\'adresse&nbsp;:&nbsp;' | trans | raw }}{{ place.name }}</p>
      <hr>
      {% for key, form in forms %}
        <div class="place-fetch-form">
          <h2>{{ feeds[key].getFeedDataProviderTypeName }}</h2>
          {{ form_start(form) }}
          {{ form_errors(form) }}
          <div class="form-group row">
            <div class="col-auto input-daterange">
              <span class="input-group-addon">{{ 'Rafraîchir du' | trans }}</span>
              {{- form_widget(form['start_date_' ~ key]) -}}
              <span class="input-group-addon">{{ 'au' | trans }}</span>
              {{- form_widget(form['end_date_' ~ key]) -}}
            </div>
            <div class="col-auto">
              {{ form_row(form['force_' ~ key], {label_attr: {class: 'checkbox-custom'} })}}
            </div>
            <div class="col-auto">
              {{ form_row(form['submit_' ~ key]) }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              {{ form_errors(form['start_date_' ~ key]) }}
              {{ form_errors(form['end_date_' ~ key]) }}
              {{ form_help(form['start_date_' ~ key]) }}
            </div>
          </div>

          {{ form_end(form) }}
        </div>

        {% if not loop.last %}
          <hr>
        {% endif %}

      {% endfor %}
      <a class="btn btn-primary" href="{{ path('config') }}">{{ 'Annuler' | trans }}</a>

    </div>
  </div>
</div>
{% endblock %}