<div class='card about'>
  <div class="card-body">
    <h1 class="card-title">{{ 'Adresses' | trans }}</h1>
    <div class="content">
      {% for place in places %}
        <h2><i class="fas fa-{{ place.icon }}"></i> {{ place.name }}</h2>
        <ul class="about-list">
          {% for feed in place.feeds %}
            <li>
              {% if feed.feedDataProviderType == "LINKY" %}
                <i class="fas fa-tachometer-alt"></i> {{ 'Compte Enedis' | trans }} : {{ feed.param['LOGIN'] }}</h>
              {% elseif feed.feedDataProviderType == "ENEDIS_DATA_CONNECT" %}
                <i class="fas fa-plug"></i> {{ 'Linky' | trans}} : {{ aeneria_linky_description(feed) }}
              {% elseif feed.feedDataProviderType == "GRDF_ADICT" %}
                <i class="fas fa-burn"></i> {{ 'Gazpar' | trans}} : {{ aeneria_gazpar_description(feed) }}
              {% elseif feed.feedDataProviderType == "METEO_FRANCE" %}
                <i class="fas fa-cloud-sun"></i> {{ 'Météo' | trans}} : {{ feed.param['CITY'] }}
              {% elseif feed.feedDataProviderType == "FAKE" %}
                <i class="fas fa-code"></i> {{ 'FakeProvider' | trans}} : {{ feed.feedType }}
              {% endif %}
            </li>
          {% endfor %}
          {% if aeneria_place_can_be_public() %}
            <li>
              <i class="fas fa-unlock-alt"></i> {{ place.public ? 'L\'adresse est publique' | trans : 'L\'adresse est privée' | trans }}
            </li>
          {% endif %}
          {% if aeneria_user_can_share_place() %}
            <li>
              {% set allowed = '' %}
              {% for allowedUser in place.allowedUsers %}
                {% set allowed = allowed ~ allowedUser.username ~ (loop.last ? '' : ', ') %}
              {% endfor %}
              <i class="fas fa-user-friends"></i> {{ 'Partagée avec' | trans }} {{ allowed?: 'personne' | trans }}
            </li>
          {% endif %}
        </ul>
        <div class="container-fluid">
          <a class="btn btn-sm btn-primary" href="{{ path('config.place.edit', {id: place.id}) }}" title="{{ 'Modifier' | trans }}">
            <i class="fas fa-pen"></i>
          </a>
          {% if aeneria_user_can_fetch() %}
            <a class="btn btn-sm btn-warning" href="{{ path('config.place.fetch', {id: place.id}) }}" title="{{ 'Rafraîchir des données' | trans }}">
              <i class="fas fa-sync-alt"></i>
            </a>
          {% endif %}
          {% if aeneria_user_can_export() %}
            <a class="btn btn-sm btn-warning" href="{{ path('config.place.export', {id: place.id}) }}" title="{{ 'Exporter des données' | trans }}">
              <i class="fas fa-upload"></i>
            </a>
          {% endif %}
          {% if aeneria_user_can_import() %}
            <a class="btn btn-sm btn-warning" href="{{ path('config.place.import', {id: place.id}) }}" title="{{ 'Importer des données' | trans }}">
              <i class="fas fa-download"></i>
            </a>
          {% endif %}

          <a class="btn btn-sm btn-danger" href="{{ path('config.place.delete', {id: place.id}) }}" title="{{ 'Supprimer' | trans }}">
            <i class="fas fa-trash"></i>
          </a>
        </div>
        <hr>
      {% else %}
        <p>{{ 'Il n\'y a pas encore d\'adresse' | trans }}</p>
        <hr>
      {% endfor %}

      {% if aeneria_user_can_add_place(user) %}
        <a class="btn btn-primary" href="{{ path('config.place.new') }}">
          <i class="fas fa-plus-circle"></i> {{ 'Ajouter une adresse' | trans }}
        </a>
      {% endif %}

    </div>
  </div>
</div>
