{% from "form/place.html.twig" import form as placeForm %}
{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block selection %}{% endblock %}

{% block body %}
<div class="container-fluid row justify-content-center align-items-center users">
  <div class='card config-form col-lg-6 col-md-8'>
    <div class="card-body">
      <h1> {{ title }} </h1>

      {{ form_start(form_config) }}
      {{ form_errors(form_config) }}

      {{ placeForm(form_config) }}

      {{ form_end(form_config) }}
    </div>
  </div>
</div>
{% endblock %}